<h1>Title: <%= @post.title%> </h1>
<p>Content:<%= @post.content%> </p>

<%= form_for @post.comments.build do |f|%>
    <%= f.hidden_field :post_id, value: @post.id%>
    Leave a Comment: <%= f.text_field :content%>
    <%= f.submit%>
<% end %>

<br/>
Comments: <br/>
<ul>
    <%@post.comments.each do |c|%>
    <li><%=c.content%></li>
    <% end %>
</ul>